<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
  <channel>
    <title><%= @feed.title %></title>
    <link><%= root_url %></link>
    <description><%= @feed.description %></description>
    <itunes:summary><%= @feed.description %></itunes:summary>
    <itunes:author><%= @feed.author %></itunes:author>
    <generator>Locucast</generator>
    <%- @feed.items.each do |item| %>
    <item>
      <title><%= item.title %></title>
      <itunes:author><%= item.author %></itunes:author>
      <itunes:image href="<%= item.image %>"/>
      <enclosure url="<%= item.enclosure_url %>" length="<%= item.enclosure_length %>" type="<%= item.enclosure_file_type %>"/>
      <guid isPermaLink="false"><%= item.guid %></guid>
      <pubDate><%= item.pub_date %></pubDate>
      <itunes:duration><%= item.duration %></itunes:duration>
    </item>
    <%- end %>
  </channel>
</rss>
