.banner
  .row
    .small-12.columns
      %h1.white Locucast
      %h3.white Listen to your books in your favorite podcast player
      %h3
        = link_to "Try as a Guest", guest_path, method: :post, class: 'button'
.row
  .small-12.medium-4.text-center.columns
    = image_tag "book_1.png"
    %p CREATE AUDIOBOOK
  .small-12.medium-4.text-center.columns
    = image_tag "upload_1.png"
    %p UPLOAD FILES AND COVER
  .small-12.medium-4.text-center.columns
    = image_tag "feed_1.png"
    %p SUBSCRIBE IN YOUR PLAYER
.row
  .small-12.text-center.columns
    %p
      = image_tag "https://d4nnn7wspfa3h.cloudfront.net/rails-rumble-badge-2015.png"
