.row
  .small-12.columns
    %h2{ style: "display: inline" }
      = @upload.title_with_author
    %span
      = link_to "Edit", edit_audiobook_path(@upload)
.row
  .large-3.small-12.columns
    = cover_image(@upload, false, "th")
    = render "cover_form"
    %p= @upload.description
    = link_to 'Subscribe', tokenized_feed_path(@upload), class: 'button', target: '_blank'

  .large-9.small-12.columns
    - if @uploaded_files.any?
      %table{ style: 'width: 100%' }
        %tbody
          %tr
            %th{ style: "width: 5%" }
            %th{ style: "width: 80%"} Title
            %th
        %tbody#uploaded_files
          - @uploaded_files.each_with_index do |file, i|
            %tr.uploaded_file{ id: "uploaded_file_#{file.id}" }
              %td.uploaded_file_position= i + 1
              %td{ style: "text-overflow: ellipsis; overflow: hidden; max-width: 340px" }= file.title_or_name
              %td= link_to "Delete", file, method: "delete", class: "button alert tiny delete-uploaded-file-button"
    = render "uploaded_files/form"

= render "shared/progress_bar_template"

:coffeescript
  window.prepareUploadedFilesOrderHiddenInputs = () ->
    $.each(getOrderUploadedFilesIds(), (i, val) ->
      $('.edit_upload').append(
        "<input multiple='multiple' value='\#{val}' type='hidden' name='upload[uploaded_files_order][]' id='upload_uploaded_files_order'>"
      )
    )

  window.getOrderUploadedFilesIds = () ->
    $('#uploaded_files').sortable('toArray').map (i) -> i.replace('uploaded_file_', '')

  $('#uploaded_files').sortable
    appendTo: document.body
    stop: (e, ui) -> updatePositionNumbers()

  window.updatePositionNumbers = () ->
    $.each $(".uploaded_file_position"), (i, el) -> $(el).text(i + 1)

  $(".edit_upload").submit ->
    prepareUploadedFilesOrderHiddenInputs()
    # need to return true to proceed with form submit
    true

  $(".file-input").click (e) ->
    e.stopPropagation()

  $(".file-upload").click (e) ->
    e.stopPropagation()
    $(e.currentTarget).children().trigger("click")
    false
