.row
  .small-12.columns
    %h1
      = @upload.name

    = render "form"

  .small-12.columns
    - if @uploaded_files.any?
      = link_to('Subscribe', feed_path(@upload, format: :xml, target: '_blank'), class: 'button')

      %h2
        Uploaded files
      %table{ style: 'width: 100%' }
        %tbody#uploaded_files
          %tr
            %th{ style: "width: 5%" }
            %th{ style: "width: 70%"} Name
            %th
          - @uploaded_files.each_with_index do |file, i|
            %tr.uploaded_file{ id: "uploaded_file_#{file.id}" }
              %td.uploaded_file_position= i + 1
              %td= file.name
              %td= link_to "Delete", file, method: "delete", class: "button alert tiny delete-uploaded-file-button"

      = simple_form_for @upload do |f|
        = f.button :submit, "Update order"

    %h2
      Add new files

    = render "uploaded_files/form"

:coffeescript
  window.prepareUploadedFilesOrderHiddenInputs = () ->
    $.each(getOrderUploadedFilesIds(), (i, val) ->
      $('.edit_upload').append(
        "<input multiple='multiple' value='\#{val}' type='hidden' name='upload[uploaded_files_order][]' id='upload_uploaded_files_order'>"
      )
    )

  window.getOrderUploadedFilesIds = () ->
    $('#uploaded_files').sortable('toArray').map (i) -> i.replace('uploaded_file_', '')

  $('#uploaded_files').sortable
    appendTo: document.body
    stop: (e, ui) -> updatePositionNumbers()

  window.updatePositionNumbers = () ->
    $.each $(".uploaded_file_position"), (i, el) -> $(el).text(i + 1)

  $(".edit_upload").submit ->
    prepareUploadedFilesOrderHiddenInputs()
    # need to return true to proceed with form submit
    true
