!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Locucast"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application"
    = javascript_include_tag "https://code.jquery.com/ui/1.11.4/jquery-ui.js"
    = csrf_meta_tag
    = render 'layouts/rollbar' if Rails.env.production?

  %body
    .contain-to-grid.sticky
      %nav.top-bar{"data-topbar" => "", :role => "navigation", "data-options" => "sticky_on: small"}
        %ul.title-area
          %li.name
            %h1
              = link_to "Locucast", user_signed_in? ? audiobooks_path : root_path
        %section.top-bar-section
          %ul.right
            - if user_signed_in?
              %li= link_to "Sign out", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Try as a Guest", guest_path, method: :post
              %li= link_to "Sign in", new_user_session_path
              %li= link_to "Sign up", new_user_registration_path
          - if user_signed_in?
            %ul.left
              %li= link_to "Audiobooks", audiobooks_path
    - if flash[:notice] && signed_in?
      .row{ style: "margin-top: 20px" }
        .small-12.columns
          .alert-box.success.radius{"data-alert" => ""}
            = flash[:notice]
            %a.close{:href => "#"} ×
    = yield

  = render 'layouts/rails_rumble_voting_banner'
